
div {
    height: 2rem;
}

.orange {
    background-color: #C43E03;
}

.green {
    background-color: #7C986C;
}

.senape {
 background-color: #84714D;
}


.black {
    background-color: black;
}

.brown {
    background-color: brown;
}